<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/main.min.css')}}">
    


    <title>Dashboard</title>
  </head>
  <body>

<!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <a class="navbar-brand" href="#">
        <img src="{{url_for('static', filename='svg/a.svg')}}" width="35" height="35" class="d-inline-block align-top" alt="">
      </a>
      <span class="navbar-brand ml-0 mb-0 h1">ASHOK</span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse form" id="navbarSupportedContent" >


        <form class="form-inline my-lg-0 search">
          <hr>
          <input class="form-control mr-sm-2 formcontrol" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0 search-icon" type="submit">
        <img src="{{url_for('static', filename='svg/search.svg')}}" width="23" height="23" class="d-inline-block align-top" alt="">
          </button>
        </form>



        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Projects
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="https://weight-prediction-api.herokuapp.com/">Height Prediction</a>
              <a class="dropdown-item" href="https://gender-classification-api.herokuapp.com/">Gender Classification</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{{url_for('iris_classification')}}">Iris Classification</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Resume</a>
          </li>
        </ul>
      </div>
    </nav>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{{url_for('static', filename = 'js/jquery.slim.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>

  </body>
</html>